In [2]:
import pandas as pd

In [3]:
# sample data file path
file = r'C:\Users\clipp\Documents\GIS_6340\Week_06\example.xlsx'

# get sample data into pandas dataframe
df = pd.read_excel(file, usecols = 'E:G', dtype = {'postal_code':'str'})

# shows top 5 rows. see incorrect postal codes
df.head(5)

             city region postal_code
0         Melrose     MA        2176
1       Cambridge     MA        2140
2  Harwich Center     MA        2645
3       Wellesley     MA        2481
4     Northampton     MA        1060

source: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

In [5]:
# adds leading zero to postal codes that are less than 5 digits long
df['postal_code'] = df['postal_code'].apply(lambda x: '{0:0>5}'.format(x))

# shows fixed postal codes
df.head(5)

             city region postal_code
0         Melrose     MA       02176
1       Cambridge     MA       02140
2  Harwich Center     MA       02645
3       Wellesley     MA       02481
4     Northampton     MA       01060

source: https://www.w3resource.com/python-exercises/pandas/string/python-pandas-string-exercise-3.php